
  <form class="example-form" [formGroup]="frmPresent">
    <mat-form-field class="example-full-width">
      <mat-label>name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="frmPresent.get('name')?.hasError('required')">שדה חובה, נא הכנס שם</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="frmPresent.get('email')?.hasError('required')">שדה חובה, נא הכנס מייל</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>phone</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="frmPresent.get('phone')?.hasError('required')">שדה חובה, נא הכנס טלפון</mat-error>
    </mat-form-field>
  
  
    <div mat-dialog-actions align="end">
      <button mat-button (click)="dialogRef.close()">ביטול</button>
      <button mat-button (click)="save()" [disabled]="frmPresent.invalid">שמור</button>
    </div>
  </form>
  
